@import '~antd/dist/antd.css';

.ant-card {
  border-radius: 10px;
}

.ant-card-body {
  text-align: left;
}

.ant-divider-horizontal {
  margin-top: 6px;
  margin-bottom: 10px;
}

.align-left-right {
  display: "flex";
  justify-content: "space-between";
}

.text-left {
  text-align: left;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.App {
  text-align: center;
}
